build/
*.class

.gradle/

#######################################
#Eclipse
#######################################
bin/
.settings/
.classpath
.project

#######################################
#IDEA
#######################################
.idea
*.iml
*.ipr
*.iws
classes/

#######################################
#misc
#######################################
.DS_Store
